h5py==2.9.0
Keras==2.3.1
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
lxml==4.4.2
matplotlib==3.3.4
numba==0.52.0
numpy==1.20.1
pandas==1.2.2
pathlib==1.0.1
scikit-learn==0.24.1
scipy==1.6.1
tensorflow==1.13.2
tensorflow-estimator==1.13.0
tqdm
